body {
	font-family: Arial;
	font-size: 12px;
	padding:0px;
	margin:0px;
}
#content{
	width:800px;
	margin:auto;
	margin-top:110px;
}

#loginButton{
	margin:auto;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.heading {
	font-size: 12px;
	font-weight: bold;
}

.bodyText {
	font-size: 12px;
}

.fixedWidth {
	font-family: Courier;
}

ul {
	font-size: 12px;
}

td {
	font-size: 12px;
}

.nav {
	font-family: Arial;
	font-size: 10px;
	padding-bottom: 15px;
}