@font-face
{
font-family: opensans;
src: url('/fonts/OpenSans-Light.ttf');
}
@font-face
{
font-family: opensansr;
src: url('/fonts/OpenSans-Regular.ttf');
}
	body{
		width:100%;
		height:100%;
		min-width:1024px;
		margin:0px;
		padding:0px;
		font-family:Arial;
		color:#6e6e6e;
		font-size:13px;
		-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
		font-family: "opensans"
	}
	ul{
		list-style-type: disc;
	}
	h2{
		text-transform: uppercase;
		font-size:14px;
		font-weight:normal;
		padding:15px 30px;
		margin:0px;
	}
	h1{
		font-weight:normal;
		font-size:40px;
		padding:0px 0px 30px 0px;
		margin:0px;
		color:#353535;
		border-bottom:1px solid #eee;
		font-family: 'opensans';
	}
	a{
		text-decoration: none;
		color:#0059a9;
	}
	form div{
		padding:15px 30px;
	}
	form div select{
		width:100%;
	}
	p, li{
		line-height:25px;
	}
	pre.prettyprint{
		padding:0px !important;
		border:0px !important;
	}
	@-webkit-keyframes rotatew {
	  from {
	    -webkit-transform: rotate(0deg);
	  }
	  to { 
	    -webkit-transform: rotate(360deg);
	  }
	}

	@keyframes rotate {
	  from {
	    transform: rotate(0deg);
	  }
	  to { 
	    transform: rotate(360deg);
	  }
	}
	.loading{	
		animation-name:rotate; 
	    animation-duration:1s; 
	    animation-iteration-count: infinite;
	    transition-animation-function: linear;
	    -webkit-animation-name:rotatew; 
	    -webkit-animation-duration:1s; 
	    -webkit-animation-iteration-count: infinite;
	    -webkit-transition-animation-function: linear;  
	}
	.google-visualization-table-th{
		color:#0059a9;
	}
	#header{
		height:50px;
		width:100%;
		color:#FFF;
		font-size:14px;
		background:#149ecd;
		font-weight:bold;
		position:fixed;
		top:0px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		z-index:100;
	}
	.tab{
		line-height:50px;
		padding:0px 15px;
		float:left;
		height:50px;
	}
	.tab:hover{
		cursor:pointer;
		background:#1490ba;
	}
	.tab.selected{
		background:#1490ba;
	}
	.row{
		width:100%;
		padding:15px 30px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		height:45px;
		line-height:15px;
		border-top:1px solid #eee;
	}
	.row:hover{
		background:#f6f6f6;
		cursor:pointer;
	}
	.row.selected{
		background:#f6f6f6;
	}
	#left{
		width:300px;
		height:2000px;
		padding-top:50px;
		float:left;
		border-right:1px solid #eeeeee;
		background:#fbfbfb;
		position:fixed;
		z-index:100;
	}
	#right, #code{
		min-height:698px;
		padding:40px 40px 40px 40px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		margin: 50px 0px 0px 300px;
	}
	#code{
		display:none;
	}
	#profile{
		padding: 0px 30px 20px 30px;
		display:table;
	}
	#profile #picture{
		width:40px;
		height:40px;
		border-radius:2px;
		-moz-border-radius:2px;
		float:left;
		background-size:100% 100%;
		background-repeat:no-repeat;
	}
	#profile #text{
		display:table;
		float:left;
	}
	#name{
		font-weight:bold;
		padding:0px 0px 0px 15px;
		color:#0059a9;
		font-size:16px;
		font-family: "opensansr";
	}
	#title{
		font-size:12px;
		padding:0px 0px 0px 15px;
	}
	#chartArea{
		width:100%;
		height:516px;
		padding-top:30px;
	}
	#report{
		width:100%;
		height:516px;
	}
	#header #reloadimg{
		float: right;
		height: 30px;
		position: relative;
		top: 8px;
		right: 15px;
		cursor:pointer;
	}
	#header #icon{
		float:left;
		height: 26px;
		position: relative;
		top:12px;
		margin:0px 15px 0px 30px;
	}
	#nodata{
		display:none;
	}
	.row img{
		float: left;
		position: relative;
		top: -5px;
		margin-right: 15px;
	}