body {
font-family:Arial;
font-size:12px;
color:#3B5998;
margin:0;
padding:0
}

h1 {
font-size:18px;
position:relative;
width:800px;
margin:0 0 0 -10px;
padding:10px
}

h2 {
text-align:center;
font-size:51px;
text-transform:uppercase;
margin:20px auto auto
}

h3 {
text-align:center;
font-size:18px
}

a {
display:block;
width:200px;
height:40px;
line-height:40px;
font-size:18px;
text-align:center;
text-transform: uppercase;
background:#3B5998;
color:#FFF;
text-decoration:none
}

a:hover {
background:#9EBBF6
}

#content {
width:800px;
margin:110px auto auto
}

.title {
font-size:14px;
font-weight:700;
margin-top:10px
}

#header {
height:135px;
width:100%;
position:absolute;
top:0;
left:0;
box-sizing:border-box;
-moz-box-sizing:border-box;
padding:0 20px
}

#logo {
width:100%;
height:90px;
background-repeat:no-repeat;
background-position:left;
margin:10px auto auto 10px;
}

.page {
width:800px;
min-height:600px;
display:none;
border:1px solid #efefef;
margin-bottom:40px;
border-top:0
}

#pageHeader {
width:820px;
height:41px;
line-height:41px;
font-size:20px;
z-index:100;
position:relative;
margin-left:-20px;
padding:0 10px
}

#contactpicture {
height:30px;
width:30px;
position:absolute;
right:5px;
top:5px;
display:none
}

#login {
display:block
}

#loginButton {
width:200px;
height:200px;
background:#F0F;
cursor:pointer;
margin-top:20px
}

#overlay {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:101;
opacity:0.6;
background:#FFF;
border:0
}

#overlay img {
width:350px;
display:block;
margin:150px auto auto
}

.button {
height:100px;
width:100px;
margin-left:20px;
background:#0F0
}

.productRow {
border-bottom:1px solid #efefef;
width:760px;
height:200px;
padding:20px
}

.productImage,.productDetails,.productButtons {
float:left;
position:relative
}

.productImage,#profilePicture {
border:1px solid #efefef;
width:200px;
height:200px
}

#profilePicture {
width:180px;
height:180px;
float:left;
padding:10px
}

#profilePictureImage {
background-repeat:no-repeat;
background-size:100%;
background-position:50% 50%;
width:100%;
height:100%
}

.productDetails {
margin-left:20px;
width:400px;
height:100%
}

.info {
font-size:14px;
margin-bottom:10px;
margin-top:5px
}

.productButtons {
width:138px
}

.likes {
width:100%;
height:40px;
line-height:40px;
font-size:18px;
position:absolute;
bottom:0;
left:0;
opacity:0.7;
text-align:center
}

.likeButton,.buyButton {
height:33px;
width:110px;
text-align:center;
font-size:18px;
line-height:33px;
color:#fff;
cursor:pointer;
float:right;
margin:30px auto auto;
padding:5px
}

#productHeader .productButtons {
display:none
}

#productHeader .productDetails {
width:538px
}

.label {
width:105px;
text-align:right;
height:30px;
float:left;
font-size:14px;
line-height:30px;
padding-right:10px;
box-sizing:border-box;
-moz-box-sizing:border-box;
font-weight:700
}

.data {
float:left;
width:170px;
padding-left:10px;
height:35px;
line-height:30px;
box-sizing:border-box;
-moz-box-sizing:border-box
}

.data input {
border:1px solid #efefef;
height:25px;
font-size:14px!important;
padding-left:5px;
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
color:#CCC;
outline:none
}

.data select {
width:100%
}

.data input:focus {
outline:none
}

#orderForm,#mapForm {
border-bottom:1px solid #efefef;
display:table;
padding:20px
}

#orderButton {
height:90px;
width:100%
}

#orderButton input,.button,#loginButton {
display:block;
height:46px;
width:110px;
text-align:center;
font-size:18px;
line-height:46px;
color:#fff;
cursor:pointer;
float:right;
border:0;
margin:20px;
padding:0
}

.button,#loginButton {
float:none;
margin:auto
}

#friendGrid {
width:300px;
height:300px;
margin:auto
}

#friendGrid img {
display:block;
float:left;
width:50px;
height:50px;
margin:5px
}

#mapIcon {
height:40px;
line-height:40px;
border-radius:30px;
-moz-border-radius:30px;
position:absolute;
top:200px;
left:500px;
display:table;
font-size:14px;
padding:0 10px
}

#mapForm {
position:relative
}

#hiddenframe {
	position:absolute;
	display:none;
}